<?xml version="1.0" encoding="UTF-8"?>
<!-- status: The level of internal Log4j events that should be logged to the console.
Valid values for this attribute are "off", "trace", "debug", "info", "warn", "error", "fatal", and "all".  -->
<Configuration status="INFO">
    <Properties>
        <Property name="loggingPattern">[%d{MM-dd HH:mm:ss.SSS}][%-5level][%t] %C{1} - %msg%n</Property>
    </Properties>
    <Appenders>
        <!-- Here one can set up which log level will be shown in console. Further one can configure the colors -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %c{0} - %msg%n}{ERROR=Red, WARN=Yellow, INFO=Green, DEBUG=Blue, TRACE=Blue}"/>
            <ThresholdFilter level="${env:CINEAST_LOG_LEVEL:-TRACE}" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <!-- Here one can set up which log level will be stores in a file. Further one can configure the colors -->
        <RollingFile name="File">
            <FileName>logs/engine-server.log</FileName>
            <FilePattern>logs/%d{yyyy-MM-dd-hh}-%i.log.zip</FilePattern>
            <PatternLayout pattern="${loggingPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="2560 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </Appenders>
    <!-- Here one can set up, for each package individually, which level will be logged -->
    <Loggers>
        <!-- For external loggers-->
        <logger name="io" level="ERROR">
        </logger>
        <!-- For global logger setting below org.* -->
        <logger name="org" level="INFO" additivity="true">
        </logger>
        <!-- For all in current package, overwrites org -->
        <logger name="org.vitrivr.engine.base.*" level="INFO" additivity="true">
        </logger>
        <logger name="org.vitrivr.engine.core.*" level="INFO" additivity="true">
        </logger>
        <logger name="org.vitrivr.engine.index" level="DEBUG" additivity="true">
        </logger>
        <logger name="org.vitrivr.engine.query.*" level="INFO" additivity="true">
        </logger>
        <logger name="org.vitrivr.engine.server.*" level="INFO" additivity="true">
        </logger>
        <!-- Root is fall back config if no matching logger is found -->
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>